@media (max-width: 991px) {
  .bg-black {
      height:auto;
  } 
  .mobile_view{
      display: block!important;
      font-size: 12px;
  }
  .navbar-light .logo {
    position: absolute;
    z-index: 2;
    background: #fff;
    padding: 0px;
    margin-top: -44px;
    max-width: 135px;
}
 .navbar-nav{
     background-color: #05406c;
         margin-top: 24px;
 }
 .navbar-light .navbar-nav .nav-link {
    color: #fff;
}
#navbarSupportedContent .pt-5, .py-5{
  padding-top: 0rem!important;   
}
.navbar-light .nav-link {
    color: #384f75;
    font-weight: 500;
    font-size: 16px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(235 225 225 / 90%);
}
.navbar-nav{
   position: fixed;
    width: 100%;
    z-index: 99999;
    margin-top: 24px; 
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 15px;
}
.bg-black{
    display:none;
}
.navbar-expand-lg{
   padding-bottom: 35px!important;
    padding-top: 35px!important;
}
#page-title .title h1 {
   font-size: 18px; 
}
.bg-light{
  margin-top: 20px;   
}
}
